<form class="col s12 hidden" id="edit-resource-form">
  <div class="row">
    <div class="input-field col s12">
      <input id="title-edit" type="text" class="validate" name="title" required />
      <label for="title-edit">Title</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="description-edit" type="text" class="validate" name="description" required />
      <label for="description">Description</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input id="url-edit" type="text" class="validate" name="url" required />
      <label for="url-edit">URL</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <select class="icons" id="category-edit" name="category">
        <option value="" disabled selected>Category</option>
        <option value="ART/DIY">Art/DIY</option>
        <option value="COOKING">Cooking</option>
        <option value="DESIGN">Design</option>
        <option value="FINANCE">Finance</option>
        <option value="GARDENING">Gardening</option>
        <option value="HEALTH">Health/Fitness</option>
        <option value="LANGUAGE">Language</option>
        <option value="MARKETING">Marketing</option>
        <option value="MUSIC">Music</option>
        <option value="TECHNOLOGY">Technology</option>
        <option value="OTHER">Other</option>
      </select>
    </div>
  </div>

  <div class="switch">
    <label>
      <input type="checkbox-edit" name="is_private" />
      <span class="lever"></span>
      Private
    </label>
  </div>

  <button class="btn waves-effect waves-light" type="submit" name="action">
    Save Changes
    <i class="fa fa-paper-plane" aria-hidden="true"></i>
  </button>
</form>
