<div id="my-resources-page" class="container hidden">
  <div class="margin-container">
    <div class="content-container settings-container">
      <div class="left-navbar">
        <div id="side-my-resources-button" class="tab">
          My Resources
          <div id="my-button-border" class="active"></div>
        </div>
        <div id="side-update-profile-button" class="tab">
          Update Profile
          <div id="profile-button-border" class="active"></div>
        </div>
        <div id="side-change-password-button" class="tab">
          Change Password
          <div id="password-button-border" class="active hidden"></div>
        </div>
      </div>
      <%- include("change-password"); %>
      <%- include("my-resources"); %>
      <%- include("update-profile"); %>
      <%- include("edit-resource"); %>
    </div>
  </div>
</div>
