<div id="my-resources-details" class="settings">
  <div id="my-resource-header">
    <h3 class="title">My Resources</h3>
    <div id="my-resources-filter">
      <form>
        <p>
          <label>
            <input type="checkbox" checked="checked" id="liked-filter" />
            <span><i class="fas fa-heart"></i> Resources</span>
          </label>
        </p>

        <p>
          <label>
            <input type="checkbox" checked="checked" id="mine-filter" />
            <span>My Resources</span>
          </label>
        </p>
      </form>
    </div>
  </div>
</div>
