<div id="update-profile-page" class="settings">
  <h3 class="title">Update Profile</h3>
  <form
    id="update-profile-form"
    class="col s12"
    action="/api/users/edit"
    method="POST"
  >
    <div class="row">
      <div class="input-field col s6">
        <input
          id="update_first_name"
          type="text"
          class="validate"
          name="firstName"
          required
        />
        <label for="update_first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input
          id="update_last_name"
          type="text"
          class="validate"
          name="lastName"
          required
        />
        <label for="update_last_name">Last Name</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input
          id="update_username"
          type="text"
          class="validate"
          name="username"
        />
        <label for="update_username">Username</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input
          id="update_email"
          type="email"
          class="validate"
          name="email"
          required
        />
        <label for="update_email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea
          id="profile_pic_url"
          class="materialize-textarea"
          data-length="120"
          name="picture"
        ></textarea>
        <label for="profile_pic_url">Profile Picture</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea
          id="bio"
          class="materialize-textarea"
          data-length="120"
          name="bio"
        ></textarea>
        <label for="bio">Bio</label>
      </div>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">
      Submit
    </button>
  </form>
</div>
