<div id="error-page" class="error-container hidden">
  <h5>
    <i class="fas fa-exclamation-triangle"></i> ERROR <i
      class="fas fa-exclamation-triangle"
    ></i></h5>
  </h4>
  <span id="error-message"></span>
</div>
