<div id="login-page" class="container hidden">
  <div class="margin-container">
    <div class="content-container">
      <h3 class="title">Login</h3>
      <form id="login-form" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input
              id="login-email"
              type="text"
              class="validate"
              name="email_username"
              required
            />
            <label for="login-email">Email/Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input
              id="login-password"
              type="password"
              class="validate"
              name="password"
              required
            />
            <label for="login-password">Password</label>
          </div>
        </div>

        <button class="btn waves-effect waves-light">
          Submit
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </div>
</div>
