<div class="nav-wrapper">
  <div class="logo"><img src="../public/images/logo.png" />Resource Wall</div>
  <ul>
    <li id="home-button">
      <a><i class="fas fa-home"></i></a>
    </li>
  </ul>
  <div class="input-field search-bar">
    <input id="search" type="search" autofocus />
    <label class="label-icon" for="search"><i class="fas fa-search"></i></label>
  </div>
  <ul id="user-buttons" class="hidden">
    <li id="create-resource-button">
      <a><i class="fas fa-plus-circle"></i></a>
    </li>
    <li id="profile-button" class="profile-picture profile-dropdown">
      <a class="profile profile-picture profile-dropdown">
        <div class="profile profile-picture profile-dropdown">
          <img
            alt=""
            id="profile-picture"
            class="circle profile profile-picture profile-dropdown"
          />
        </div>
      </a>
      <div class="hidden dropdown" id="dropdown">
        <a id="my-resources-button">My Resources</a>
        <a class="divider"></a>
        <a id="my-profile-button">My profile</a>
        <a class="divider"></a>
        <a id="update-profile-button">Update Profile</a>
        <a class="divider"></a>
        <a id="change-password-button">Change Password</a>
        <a class="divider"></a>
        <a id="logout-button">Logout</a>
      </div>
    </li>
  </ul>
  <ul id="no-user-buttons">
    <li id="login-button">
      <a>LOGIN</a>
    </li>
    <li id="register-button">
      <a>REGISTER</a>
    </li>
  </ul>
</div>
