<div class="nav">
  <div id="home-button">
    <img src="../public/images/favicons.png" />
    <span>Resource Wall</span>
    <i class="fas fa-home"></i>
  </div>
  <div class="search">
    <input id="search" type="search" autofocus />
  </div>
  <div id="user-buttons" class="hidden">
    <div id="create-resource-button">
      <i class="fas fa-plus-circle"></i>
    </div>
    <div id="profile-button" class="profile-picture profile-dropdown">
      <img
        alt=""
        id="profile-picture"
        class="circle profile profile-picture profile-dropdown"
      />
    </div>
  </div>
  <div id="no-user-buttons">
    <span id="login-button"> LOGIN </span>
    <span id="register-button"> REGISTER </span>
  </div>
</div>

<div class="hidden" id="dropdown">
  <div class="dropdown">
    <div id="my-resources-button">My Resources</div>
    <div class="divider"></div>
    <div id="my-profile-button">My profile</div>
    <div class="divider"></div>
    <div id="update-profile-button">Update Profile</div>
    <div class="divider"></div>
    <div id="change-password-button">Change Password</div>
    <div class="divider"></div>
    <div id="logout-button">Logout</div>
  </div>
</div>
