<div class="nav">
  <div id="home-button">
    <img src="../public/images/favicons.png" />Resource Wall
    <i class="fas fa-home"></i>
  </div>
  <div class="search">
    <input id="search" type="search" autofocus />
  </div>
  <div id="user-buttons" class="hidden">
    <span id="create-resource-button">
      <i class="fas fa-plus-circle"></i>
    </span>
    <span id="profile-button" class="profile-picture profile-dropdown">
      <!-- class="profile profile-picture profile-dropdown"> -->
      <!-- class="profile profile-picture profile-dropdown"> -->
      <img
        alt=""
        id="profile-picture"
        class="circle profile profile-picture profile-dropdown"
      /> </span
    ><!--
      <div class="hidden dropdown" id="dropdown">
        <a id="my-resources-button">My Resources</a>
        <a class="divider"></a>
        <a id="my-profile-button">My profile</a>
        <a class="divider"></a>
        <a id="update-profile-button">Update Profile</a>
        <a class="divider"></a>
        <a id="change-password-button">Change Password</a>
        <a class="divider"></a>
        <a id="logout-button">Logout</a>
      </div>
    </span>-->
  </div>
  <div id="no-user-buttons">
    <span id="login-button"> LOGIN </span>
    <span id="register-button"> REGISTER </span>
  </div>
</div>
