<div class="nav">
  <div id="home-button">
    <img src="../public/images/favicons.png" />
    <span>Resource&nbsp;Wall</span>
    <div class="link"><i class="fas fa-home"></i></div>
  </div>
  <div class="search-container">
    <div class="search">
      <label for="search"><i class="fas fa-search"></i></label>
      <input id="search" type="search" autofocus />
    </div>
  </div>

  <div id="user-buttons" class="hidden">
    <div id="create-resource-button" class="link">
      <i class="fas fa-plus-circle"></i>
    </div>
    <div id="profile-button" class="link profile-picture profile-dropdown">
      <img
        alt=""
        id="profile-picture"
        class="circle profile profile-picture profile-dropdown"
      />
    </div>
  </div>
  <div id="no-user-buttons">
    <div id="login-button" class="link"> LOGIN </div>
    <div id="register-button" class="link"> REGISTER </div>
  </div>
</div>

<div class="hidden" id="dropdown">
  <div class="dropdown">
    <div id="my-resources-button">My Resources</div>
    <div class="divider"></div>
    <div id="my-profile-button">My profile</div>
    <div class="divider"></div>
    <div id="update-profile-button">Update Profile</div>
    <div class="divider"></div>
    <div id="change-password-button">Change Password</div>
    <div class="divider"></div>
    <div id="logout-button">Logout</div>
  </div>
</div>
