<div class="row" id="tabs">
  <div class="col s12 nav-colour">
    <ul class="tabs">
      <li class="tab col s1 nav-colour">
        <a class="active nav-colour" id="ALL">All</a>
      </li>
      <li class="tab col s1 nav-colour">
        <a class="nav-colour" id="ART">Art</a>
      </li>
      <li class="tab col s1 nav-colour">
        <a class="nav-colour" id="COOKING">Cooking</a>
      </li>
      <li class="tab col s1 nav-colour">
        <a class="nav-colour" id="DESIGN">Design</a>
      </li>
      <li class="tab col s1 nav-colour">
        <a class="nav-colour" id="FINANCE">Finance</a>
      </li>
      <li class="tab col s1 nav-colour">
        <a class="nav-colour" id="GARDENING">Gardening</a>
      </li>
      <li class="tab col s1 nav-colour">
        <a class="nav-colour" id="HEALTH">Health/Fitness</a>
      </li>
      <li class="tab col s1 nav-colour">
        <a class="nav-colour" id="LANGUAGE">Language</a>
      </li>
      <li class="tab col s1 nav-colour">
        <a class="nav-colour" id="MARKETING">Marketing</a>
      </li>
      <li class="tab col s1 nav-colour">
        <a class="nav-colour" id="MUSIC">Music</a>
      </li>
      <li class="tab col s1 nav-colour">
        <a class="nav-colour" id="TECHNOLOGY">Technology</a>
      </li>
      <li class="tab col s1 nav-colour">
        <a class="nav-colour" id="OTHER">Other</a>
      </li>
    </ul>
  </div>
</div>
