// LAYOUT

#resources-page {
  margin-top: 4em;
}

#columns {
  column-count: 1;
  column-gap: 0.5em;
  margin: 25px auto;
  width: 90%;
  figure {
    margin: 5px;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
}

// CARD

.card {
  box-shadow: none;
  &:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow 0.2s;
  }
}

.card-content {
  span {
    font-weight: bold;
  }
}

.card-image {
  position: relative;

  .url-wrapper {
    background-color: black;
    opacity: 0.6;
    border-radius: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70%;
    z-index: 2;

    &:hover {
      opacity: 0.8;
      transition: opacity 0.2s;
    }

    .card-url {
      color: white;
    }
  }

  .like-link {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    .card-heart {
      font-size: 3em;
      &:hover {
        color: #db565b;
        transition: color 0.3s;
      }
    }
  }
}

.card-action {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card-summary {
  display: flex;
  align-items: center;
}

.card-icon {
  font-size: 2em;
  padding-right: 0.25em;
}

figure:hover {
  cursor: pointer;
}

// Tabs

.tabs .tab a {
  cursor: pointer;
  background-color: #f8f8ff;
  font-weight: bold;
}

.tabs {
  border-bottom: 1px solid rgba(33, 150, 243, 1);
}

ul.tabs {
  border: none;
}
div.col.s12.nav-colour {
  background-color: #003566;
  ul li.tab.col.s1.nav-colour {
    background-color: white;
    a.nav-colour {
      background-color: #003566;
      color: white;
    }
    a.nav-colour.active {
      background-color: #001d3d;
      color: white;
    }
    a.nav-colour:hover {
      background-color: #001d3d;
    }
  }
}

.tabs {
  height: 23px;
  .tab {
    line-height: 23px;
    a {
      font-size: 0.8em;
    }
  }
}

@media (min-width: 425px) {
  .tabs {
    height: 40px;
    .tab {
      line-height: 40px;
      a {
        font-size: 0.65em;
      }
    }
  }
  #columns {
    column-count: 2;
  }
  #resources-page {
    margin-top: 5.8em;
  }
}

@media (min-width: 768px) {
  .tabs .tab a {
    font-size: 0.6em;
  }
  #columns {
    column-count: 3;
  }
  #resources-page {
    margin-top: 7em;
  }
}

@media (min-width: 1024px) {
  #columns {
    column-count: 4;
  }
}
