// See: https://sass-lang.com/

body,
html {
  font-family: "Bungee", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  font-family: "Bungee", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  background-color: #f8f8ff;
}
