body {
  overflow-x: hidden;
  color: #111111;
}

.logo {
  margin: 0 0.7em;
}

.search-bar {
  flex: 1;
  display: flex;
  align-items: center;
}

#search {
  background-color: white;
  border-radius: 200px;
  height: 70%;
  position: relative;
  top: 4px;
}

a.profile {
  height: 68px;
}

div.profile {
  display: flex;
  align-items: center;
  height: 100%;
}

img.profile {
  height: 2.5em;
}

.nav-wrapper {
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: space-between;
}

.unselected {
  color: grey;
}

.hidden {
  display: none;
}

div.resource-details-container.container {
  display: none;
  margin-top: 3em;
  display: flex;
  align-items: flex-start;
}

div.hidden {
  display: none;
  margin-top: 3em;
}

.container {
  border-radius: 32px;
  box-shadow: 0 0 3px #ccc;
}

form {
  margin: inherit;
}

.margin-container {
  margin: 3em;
  display: flex;
  flex-direction: column;
}

.details {
  width: 50%;
  margin: 2em;
}

.details-media {
  margin: 1.5em;
  width: 50%;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
}

.media {
  margin: 1.5em;
  width: 50%;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
}

.media * {
  max-width: 100%;
  color: #111111;
}

.details-media * {
  max-width: 100%;
  color: #111111;
}

.details-media a {
  position: absolute;
  left: 1em;
  top: 1em;
  border-radius: 200px;
  background-color: white;
  padding: 0.6em;
  opacity: 0.9;
  color: #282828;
}

a.paragraph {
  text-decoration: underline;
  color: #111111;
}

.icon {
  font-size: 2.3em;
  padding: 0.2em;
}

.send-comment {
  font-size: 1.5em;
  padding-bottom: 0.5em;
  color: #51a45a;
}

.send-comment:hover {
  cursor: pointer;
}

.like {
  float: right;
}

.like:hover {
  cursor: pointer;
}

.details h3 {
  margin: 0.4em 0 0.1em;
}

h3.title {
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
}

ul.comments {
  border: none;
}

ul.collection .collection-item.avatar .secondary-content {
  position: absolute;
  top: 10px;
  right: 16px;
}

ul.collection li.collection-item.avatar {
  min-height: 0;
  border: none;
  padding-left: 50px;
}

.show-rating {
  color: #ffb840;
}

.comment {
  display: flex;
  align-items: flex-end;
}

li textarea.materialize-textarea {
  min-height: 0;
  padding: 0;
  height: auto;
  margin: 0;
}

.collection .collection-item.new-comment-container {
  padding: 0;
  margin: 0;
}

// HOME PAGE

#columns {
  column-count: 4;
  column-gap: 0.5em;
  margin: 25px auto;
  width: 90%;
  figure {
    margin: 5px;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
}

@media (max-width: 800px) {
  #columns {
    column-count: 3;
  }
}

@media (max-width: 600px) {
  #columns {
    column-count: 2;
  }
}

@media (max-width: 500px) {
  #columns {
    column-count: 1;
  }
}

//Card

.card {
  box-shadow: none;
  &:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow 0.2s;
  }
}

.card-content {
  span {
    font-weight: bold;
  }
}

.card-image {
  position: relative;

  .url-wrapper {
    background-color: black;
    opacity: 0.6;
    border-radius: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70%;
    z-index: 2;

    &:hover {
      opacity: 0.8;
      transition: opacity 0.2s;
    }

    .card-url {
      color: white;
    }
  }

  .like-link {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    .card-heart {
      font-size: 3em;
      &:hover {
        color: #db565b;
        transition: color 0.3s;
      }
    }
  }
}

.not-liked {
  color: rgba(128, 128, 128, 0.657);
}

.flex-row {
  display: flex;
}

.liked {
  color: #db565b;
}

.card-action {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card-summary {
  display: flex;
  align-items: center;
}

.card-icon {
  font-size: 2em;
  padding-right: 0.25em;
}

a.circle-container {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

form {
  margin: initial;
}

.content-container {
  margin: 2.5em 0;
}

.settings-container {
  display: flex;
}

.left-navbar {
  margin-right: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.settings {
  flex: 1;
}

//My-resources

#my-resources-details {
  overflow: auto;
  width: 100%;

  #my-resource-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
  }
}

#my-resources-filter {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
}

.thumbnail-container {
  height: 150px;
}

.stat,
.stat-column {
  padding-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;

  .fa-heart {
    color: #db565b;
  }
}

.fa-comment-alt {
  color: #3b5998;
}

#my-resource-list li {
  display: flex;
  padding-bottom: 2em;
}

.text {
  padding-right: 2em;
  width: 50%;

  .my-resource-title {
    font-size: 1.5em;
    font-weight: bold;
  }

  div {
    span {
      font-weight: bold;
    }
  }
}

div.left-navbar div.tab {
  font-size: 1.2em;
  padding: 0.4em 0.6em;
  border-radius: 12px;
  position: relative;
  margin: 0.5em 0;
}

div.left-navbar div.active {
  background-color: black;
  position: absolute;
  left: 7%;
  right: 7%;
  height: 3px;
  bottom: 0px;
  border-radius: 10px;
}

div.left-navbar div.tab:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

#change-password-page {
  margin: 0;
}

.switch {
  margin-bottom: 3em;
}

.resource-thumbnail {
  display: flex;
  margin: 1em 0;
  justify-content: flex-start;
}

.resource-thumbnail img {
  max-height: 10em;
  max-width: 10em;
}

.resource-thumbnail * {
  margin: 0 0.5em;
}

.thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
}

.resource-thumbnail .text {
  flex: 1;
}

.resource-thumbnail .media {
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  display: inline-flex;
  width: initial;
}

img.thumbnail {
  margin: 0;
  display: inline-table;
}

div.stat {
  display: flex;
  margin: 0;
  justify-content: flex-end;
}

div.resource-thumbnail div.stat span.stat-column {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
}

div.resource-thumbnail div.stat span.stat-column * {
  margin: 0;
  display: block;
}

#liked-resources-details {
  margin: 0;
}

div#dropdown.dropdown {
  background-color: white;
  position: absolute;
  bottom: -0.0000000001;
  margin: 0;
  right: 0;
  border: 0.1em solid #e5e5e5;
}

div#dropdown.hidden.dropdown a {
  color: #111111;
  text-align: center;
}

div.dropdown a i.fas.fa-heart {
  position: relative;
  top: 0.15em;
}

li.collection-item.avatar img.profile-picture.circle.profile {
  left: 0em;
  top: 0.65em;
}

.make-comment {
  display: flex;
  min-height: 50px;
  align-items: flex-end;
  margin-bottom: 5px;
}

.make-comment textarea {
  flex: 1;
}

.logo {
  font-family: "Lobster", cursive;
  font-size: 2em;
}

.logo img {
  height: 32px;
  position: relative;
  top: 5px;
  padding-right: 1px;
}

figure:hover {
  cursor: pointer;
}

.details-heart {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#details-stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  // position: relative;
  // top: 0.3em;
}

.bright {
  color: #ffb840;
}

#details-stars i:hover {
  cursor: pointer;
  color: #ffb840;
}

#two-star:hover + #one-star {
  color: #ffb840;
}

#three-star:hover ~ #one-star {
  color: #ffb840;
}

#three-star:hover + #two-star {
  color: #ffb840;
}

#four-star:hover ~ #one-star {
  color: #ffb840;
}
#four-star:hover ~ #two-star {
  color: #ffb840;
}

#four-star:hover + #three-star {
  color: #ffb840;
}

#five-star:hover ~ #one-star {
  color: #ffb840;
}

#five-star:hover ~ #two-star {
  color: #ffb840;
}

#five-star:hover ~ #three-star {
  color: #ffb840;
}

#five-star:hover + #four-star {
  color: #ffb840;
}

#details-rating-string {
  padding-left: 0.3em;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 15%;
  text-align: justify;

  img {
    width: 15em;
    height: auto;
  }
}
