@import "./nav.scss";
@import "./resource-details.scss";
@import "./my-resources.scss";
@import "./home.scss";

body {
  overflow-x: hidden;
  color: #111111;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

div.hidden {
  display: none;
  margin-top: 3em;
}

// PAGE CONTAINER

.container {
  border-radius: 32px;
  box-shadow: 0 0 3px #ccc;
}

div.container {
  width: 90%;
  margin-bottom: 3em;
}

form {
  margin: inherit;
}

// BUTTON ON THE RIGHT BOTTOM
a.circle-container {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

// TITLE OF PAGES

h3.title {
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
}

// COMMENT ICON
.fa-comment-alt {
  color: #3b5998;
}

#change-password-page {
  margin: 0;
}

@media (max-width: 800px) {
  #columns {
    column-count: 3;
  }
}

@media (max-width: 600px) {
  #columns {
    column-count: 2;
  }
}

@media (max-width: 500px) {
  #columns {
    column-count: 1;
  }
}

.details-heart {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#details-stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 15%;
  text-align: justify;

  img {
    width: 15em;
    height: auto;
  }
}

header.navbar-fixed nav {
  box-shadow: none;
}

ul.tabs {
  border: none;
}
div.col.s12.nav-colour {
  background-color: #003566;
  ul li.tab.col.s1.nav-colour {
    background-color: white;
    a.nav-colour {
      background-color: #003566;
      color: white;
    }
    a.nav-colour.active {
      background-color: #001d3d;
      color: white;
    }
    a.nav-colour:hover {
      background-color: #001d3d;
    }
  }
}

.waves-effect.waves-light {
  background-color: #ffc300;
}

.waves-effect.waves-light:hover {
  background-color: #ffd60a;
}

.flex-row {
  display: flex;
}
