@import "./nav.scss";
@import "./resource-details.scss";
@import "./my-resources.scss";
@import "./home.scss";
@import "./new-resource.scss";
@import "./user-page.scss";
@import "./error.scss";

body {
  overflow-x: hidden;
  color: #111111;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

div.hidden {
  display: none;
  margin-top: 3em;
}

// PAGE CONTAINER

.container {
  border-radius: 32px;
  box-shadow: 0 0 3px #ccc;
  width: 95%;
  max-width: none;
  margin-bottom: 3em;
}

@media (min-width: 1024px) {
  .container {
    width: 973px;
  }
}

form {
  margin: inherit;
}

// BUTTON ON THE RIGHT BOTTOM
a.circle-container {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

// TITLE OF PAGES

h3.title {
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
}

// COMMENT ICON
.fa-comment-alt {
  color: #3b5998;
}

#change-password-page {
  margin: 0;
}

// BUTTONS STYLE

.waves-effect.waves-light {
  background-color: #ffc300;
}

.waves-effect.waves-light:hover {
  background-color: #ffd60a;
}

@media (max-width: 800px) {
  #columns {
    column-count: 3;
  }
}

@media (max-width: 600px) {
  #columns {
    column-count: 2;
  }
}

@media (max-width: 500px) {
  #columns {
    column-count: 1;
  }
}
