.resource-list {
  transition: background-color 0.5s;
  box-shadow: none;

  .text {
    a {
      &:hover {
        background-color: inherit;
      }
    }

    padding-right: 2em;
    width: 50%;

    .my-resource-title {
      cursor: pointer;
      font-size: 1.5em;
      font-weight: bold;
    }

    div {
      span {
        font-weight: bold;
      }
    }
  }

  li {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: black;
    padding-bottom: 1.5em;
  }
}

li.collection.collection-item {
  background-color: transparent;
}

div.stat {
  display: flex;
  margin: 0;
  justify-content: flex-end;
}

.thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15em;
}

.resources-list {
  overflow: auto;
  width: 100%;

  .my-resource-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 100%;
    h3 {
      flex: 1;
    }
  }
}

#my-resources-filter {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

.stat-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .stat,
  .stat-column {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    .fa-heart {
      color: #db565b;
    }
  }

  .stat-column {
    padding-right: 1em;
  }

  .resource-actions {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      margin-top: 1em;
      width: 60%;
    }
  }
}

// MODAL

#close-confirm-delete,
#close-edit {
  background-color: transparent;
  float: right;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

// LAYOUT

.margin-container {
  margin: 3em;
  display: flex;
  flex-direction: column;
}

.content-container {
  margin: 2.5em 0;
}

div.left-navbar {
  margin-right: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  div.tab {
    font-size: 1.2em;
    padding: 0.4em 0.6em;
    border-radius: 12px;
    position: relative;
    margin: 0.5em 0;
  }

  div.active {
    background-color: #003566;
    position: absolute;
    left: 7%;
    right: 7%;
    height: 3px;
    bottom: 0px;
    border-radius: 10px;
  }

  div.tab:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
}

.settings {
  flex: 1;
}

.settings-container {
  display: flex;
}

// Media queries

@media only screen and (max-width: 1024px) {
  .content-container {
    flex-direction: column;
    .left-navbar {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .resources-list {
    .resource-list {
      li {
        flex-direction: column;
        .text {
          width: 100%;
        }
        .stat-container {
          padding-top: 1em;
        }
      }
    }

    .my-resource-header {
      flex-direction: column;

      #my-resources-filter {
        width: 100%;
        form {
          flex-direction: row;
        }
      }
    }
  }
}
