.header {
  position: fixed;
  background-color: #003566;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  color: #fff;
  font-size: 0.8em;

  input[type="search"] {
    font-size: 0.6em;
  }

  .nav {
    max-height: 3.5em;
    height: auto;
    display: flex;
    align-items: center;

    * {
      padding: 0.12em 0;
    }

    .search {
      position: relative;
      top: 0.1em;
      height: 1.2em;
      padding: 0;
      margin: 0;
      border-radius: 200px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      overflow: hidden;
      font-size: inherit;

      i {
        margin-left: 0.3em;
        font-size: 0.7em;
      }

      input {
        max-width: 100%;
        border: none;
        margin: 0;
      }
    }

    i {
      font-size: inherit;
      padding: 0 0.5em;
    }

    .search {
      flex: 1 1 auto;
    }

    div {
      display: flex;
      align-items: center;
    }
  }

  #user-buttons {
    margin: 0;
    img {
      max-height: 1.2em;
      padding:  0 0.3em 0 0;
    }
  }

  #home-button {
    font-family: "Lobster", cursive;

    span {
      font-size: 1.2em;
    }

    img {
      max-height: 1.2em;
      padding: 0 0.35em;
    }
  }

  #user-buttons {
    display: flex;
  }

  #tabs {
    ul {
      background-color: #003566;
    }
  }
}

.header:hover {
  cursor: pointer;
}

div.dropdown {
  font-size: 1rem;
  background-color: white;
  position: absolute;
  bottom: -0.0000000001;
  margin: 0;
  right: 0;
  border: 0.1em solid #e5e5e5;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

div.dropdown div {
  color: #111111;
  text-align: center;
  padding: 1em;
}

div.dropdown div.divider {
  padding: 0em;
}

div.dropdown div:hover {
  background-color: #e5e5e5;
}

div.dropdown a i.fas.fa-heart {
  position: relative;
  top: 0.15em;
}

div#dropdown {
  margin: 0;
}

@media (min-width: 425px) {
  .header {
    font-size: 1.3em;
    input[type="search"] {
      font-size: 0.7em;
    }
    .nav {
      .search {
        height: 1.4em;
        i {
          font-size: 1em;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    font-size: 1.5em;
    .nav {
      .search {
        height: 1.5em;
        i {
          font-size: 1.2em;
        }
      }
    }
  }
}
