.header {
  position: fixed;
  background-color: #003566;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  color: #fff;
  .nav {
    max-height: 3em;
    display: flex;
    align-items: center;
    .search {
      flex: 1 1 auto;
    }
    div {
      display: flex;
      align-items: center;
      margin: 0.4em;
    }
  }

  img {
    max-height: 2em;
  }

  #user-buttons {
    display: flex;
  }

  #tabs {
    ul {
      background-color: #003566;
    }
  }
}

.header:hover {
  cursor: pointer;
}

// header.navbar-fixed {
//   position: fixed;
//   background-color: #003566;
//   width: 100%;
//   top: 0;
//   left: 0;ƒ
//   * {
//     background-color: #003566;
//     box-shadow: none;
//   }
// }

// .logo {
//   font-family: "Lobster", cursive;
//   font-size: 2em;
//   margin: 0 0.7em;
//   img {
//     height: 1em;
//     padding-top: 0.2em;
//     padding-right: 0.2em;
//   }
// }

// .search-bar {
//   flex: 1;
//   display: flex;
//   align-items: center;
// }

// #search {
//   background-color: white;
//   border-radius: 200px;
//   height: 70%;
//   position: relative;
//   top: 4px;
// }

// a.profile {
//   height: 68px;
// }

// div.profile {
//   display: flex;
//   align-items: center;
//   height: 100%;
// }

// img.profile {
//   height: 2.5em;
// }

// .nav-wrapper {
//   display: flex;
//   flex-wrap: no-wrap;
//   align-items: center;
//   justify-content: space-between;
// }

div.dropdown {
  background-color: white;
  position: absolute;
  bottom: -0.0000000001;
  margin: 0;
  right: 0;
  border: 0.1em solid #e5e5e5;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

div.dropdown div {
  color: #111111;
  text-align: center;
  padding: 1em;
}

div.dropdown div.divider {
  padding: 0em;
}

div.dropdown div:hover {
  background-color: #e5e5e5;
}

div.dropdown a i.fas.fa-heart {
  position: relative;
  top: 0.15em;
}

div#dropdown {
  margin: 0;
}
