.header {
  position: fixed;
  background-color: #003566;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  color: #fff;

  .nav {
    font-size: 1.5em;
    max-height: 3.5em;
    display: flex;
    align-items: center;
    padding: 0.3em 0.5em;

    .search {
      position: relative;
      top: 0.1em;
      max-height: 1.4em;
      padding: 0;
      margin: 0;
      border-radius: 200px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      overflow: hidden;

      input {
        width: 100%;
        border: none;
        margin: 0;
      }
    }

    i {
      padding: 0 0.5em;
    }

    .search {
      flex: 1 1 auto;
    }

    div {
      display: flex;
      align-items: center;
    }
  }

  #user-buttons {
    margin: 0;
    img {
      max-height: 1.2em;
    }
  }

  #home-button {
    font-family: "Lobster", cursive;

    span {
      font-size: 1.2em;
    }

    img {
      max-height: 1.2em;
      padding: 0 0.35em 0 0;
    }
  }

  #user-buttons {
    display: flex;
  }

  #tabs {
    ul {
      background-color: #003566;
    }
  }
}

.header:hover {
  cursor: pointer;
}

div.dropdown {
  background-color: white;
  position: absolute;
  bottom: -0.0000000001;
  margin: 0;
  right: 0;
  border: 0.1em solid #e5e5e5;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

div.dropdown div {
  color: #111111;
  text-align: center;
  padding: 1em;
}

div.dropdown div.divider {
  padding: 0em;
}

div.dropdown div:hover {
  background-color: #e5e5e5;
}

div.dropdown a i.fas.fa-heart {
  position: relative;
  top: 0.15em;
}

div#dropdown {
  margin: 0;
}
